/* Footer */
.footer-container
{
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  text-align: center;

  .social-container
  {
    display: block;
    position: relative;
    white-space: nowrap;

    .social-icon
    {
      display: inline-block;
      position: relative;
      margin: 30px 10px 0;

      .social-img
      {
        height: 100px;
      }
    }
  }

  .email
  {
    margin-top: 40px;
    font-family: Noot;
    font-size: 12px;
  }

  .copyright
  {
    margin-top: 10px;
    font-size: 10px;
    color: #8A8A8A;
  }
}