<div class="footer-container">
    <!-- *** Footer ***-->

    <!-- Social Networks -->
    <div class="social-container">

        <!-- Facebook -->
        <div class="social-icon">
            <a href="https://www.facebook.com/gil.epshtain" target="_blank">
                <img ng-src="./Assets/Images/Icons/Facebook-icon-white.png" class="social-img" >
            </a>
        </div>

        <!-- LinkedIn -->
        <div class="social-icon">
            <a href="https://il.linkedin.com/in/gil-epshtain-41134570" target="_blank">
                <img ng-src="./Assets/Images/Icons/LinkedIn-icon-white.png" class="social-img" >
            </a>
        </div>

        <!-- GitHub -->
        <div class="social-icon">
            <a href="https://github.com/Gil-Epshtain" target="_blank">
                <img ng-src="./Assets/Images/Icons/Github-icon-white.png" class="social-img" >
            </a>
        </div>
    </div>

    <!-- Email -->
    <div class="email">
        {{:: mainCtrl.AppData.Strings._eMail_Private_ }}
    </div>

    <!-- Copyright -->
    <div class="copyright">
        2015-2016
        &copy;
        Powered by Gil Epshtain Software Solutions
    </div>

</div>