<div class="footer-container">
    <!-- *** Footer ***-->

    <!-- Social -->
    <div class="social">
        <a href="https://il.linkedin.com/in/gil-epshtain-41134570" target="_blank">
            <img ng-src="./Assets/Images/Icons/LinkedIn-icon.png" class="social-img" >
        </a>
    </div>

    <!-- Email -->
    <div class="email">
        {{:: mainCtrl.AppData.Strings._eMail_Private_ }}
    </div>

    <!-- Copyright -->
    <div class="copyright">
        2015
        &copy;
        Powered by Gil Epshtain Software Solutions
    </div>

</div>